# Topics: Date 28 March 2023
* List Comprehensive
* Tuple
* set
* Dictionary

In [1]:
range(11)

range(0, 11)

In [11]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(11):
    print("iteration no: ",i)

iteration no:  0
iteration no:  1
iteration no:  2
iteration no:  3
iteration no:  4
iteration no:  5
iteration no:  6
iteration no:  7
iteration no:  8
iteration no:  9
iteration no:  10

In [14]:
for i in range(11):
    print("iteration no")

iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no
iteration no

In [15]:
for i in range(1,11):
    print(f"{2} X {i} = {2*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [16]:
table= int(input("Enter number for table generator:"))
for i in range(1,11):
    print(f"{table} X {i} = {table*i}")

Enter number for table generator:7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [18]:
[print("iteration no", i) for i in range(1,11)]

iteration no 1
iteration no 2
iteration no 3
iteration no 4
iteration no 5
iteration no 6
iteration no 7
iteration no 8
iteration no 9
iteration no 10

[None, None, None, None, None, None, None, None, None, None]

In [20]:
[f"iteration no {i}" for i in range(1,11)]

['iteration no 1',
 'iteration no 2',
 'iteration no 3',
 'iteration no 4',
 'iteration no 5',
 'iteration no 6',
 'iteration no 7',
 'iteration no 8',
 'iteration no 9',
 'iteration no 10']

In [17]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[i + 5//2 for i in  range(1,11)]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [29]:
for i in range(1,11):
    for j in range(1,i+1):
        print((i,j), end=" ")
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [28]:
for i in range(1,11): 
    for j in range(1,i+1):
        print((i,j),end=" ")        
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [32]:
for i in range(1,15):
    for j in range(1,i+1):
        print((i,j), end=" ")
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)
(11, 1) (11, 2) (11, 3) (11, 4) (11, 5) (11, 6) (11, 7) (11, 8) (11, 9) (11, 10) (11, 11)
(12, 1) (12, 2) (12, 3) (12, 4) (12, 5) (12, 6) (12, 7) (12, 8) (12, 9) (12, 10) (12, 11) (12, 12)
(13, 1) (13, 2) (13, 3) (13, 4) (13, 5) (13, 6) (13, 7) (13, 8) (13, 9) (13, 10) (13, 11) (13, 12) (13, 13)
(14, 1) (14, 2) (14, 3) (14, 4) (14, 5) (14, 6) (14, 7) (14, 8) (14, 9) (14, 10) (14, 11) (14, 12) (14, 13) (14, 14)

In [34]:
[(i*j) for i in range(1,11) for j in range(1,i+1)]

[1,
 2,
 4,
 3,
 6,
 9,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 25,
 6,
 12,
 18,
 24,
 30,
 36,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [37]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

print(data[0])
print(data[0][0])

[1, 2, 3]
1

In [38]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

print(data[1])
print(data[1][2])

[4, 5, 6]
6

In [39]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

len(data)

3

In [41]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for row in range(len(data)):
    print(data[row],row)

[1, 2, 3] 0
[4, 5, 6] 1
[7, 8, 9] 2

In [42]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [44]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for row in data:
    for col in row:
        print(col, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [45]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

[data[row][col] for row in range(len(data)) for col in range(len(data[row]))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuple
* Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable.

In [46]:
data=('a','b','c',1,2,3)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [47]:
data='a','b','c',1,2,3
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [48]:
data='a','b','c',1,2,3
print(type(data))
print(data[0])

<class 'tuple'>
a

In [50]:
data='a','b','c',1,2,3
print(type(data))
print(data[0:3])

<class 'tuple'>
('a', 'b', 'c')

In [51]:
data='a','b','c',1,2,3
print(type(data))
data[0]="A"

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [52]:
data=('A','b','c',1,2,3)
print(type(data))
data

<class 'tuple'>

('A', 'b', 'c', 1, 2, 3)

# Tuple not fully immutable

In [53]:
a=('a','b','c',[1,2])
print(a)

('a', 'b', 'c', [1, 2])

In [57]:
a=('a','b','c',[1,2])
a[3].append(8)
a[3][0]=100
a

('a', 'b', 'c', [100, 2, 8])

In [58]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [59]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
('a','b','c')+(1,2,3)

('a', 'b', 'c', 1, 2, 3)

In [61]:
(1,2,3)*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# Dictionary
* Start `{` and `}`
* Item
  * `Key`: `Value`
   * key = hashable type = int, str, tuple / replacement of index
   * value = any type
   * : = seprator between key value
  * , between items

In [62]:
["Muhammad Mehmood", "Haji Yaseen","42201-40617655-5", 11,"abc"]
["Muhammad Mehmood", "Haji Yaseen","42201-40617655-5", 11,"abc"]
["asif","abid",'111',2222,'aaaaaa']

['asif', 'abid', '111', 2222, 'aaaaaa']

In [63]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc"
}
data

{'name': 'Muhammad mehmood',
 'Father_name': 'Haji Yaseen',
 'cnic': '42201-40617655-5',
 'roll_no': 11,
 'signature': 'abc'}

In [64]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc"
}
data["roll_no"]

11

In [66]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc",
    100 : "Pakistan"
}
data[100]

'Pakistan'

In [67]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc",
    ("aaa") : "Pakistan"
}
data[("aaa")]

'Pakistan'

In [69]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc",
    "Skills": ['python','javascript', 'C#','.net']
    
}
data["Skills"]

['python', 'javascript', 'C#', '.net']

In [70]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Create New Dictionary

In [71]:
data = {} #empty dictionary
data['name']
print(data, type(data))

KeyError: 'name'

In [72]:
data={}
data['name']= "Muhammad Mehmood"
data['father_name']= "yaseen"
print(data, type(data))

{'name': 'Muhammad Mehmood', 'father_name': 'yaseen'} <class 'dict'>

In [73]:
data={}
data['name']= "Muhammad Mehmood"
data['father_name']= "yaseen"
print(data['father_name'])

yaseen

In [74]:
data={}
data['name']= "Muhammad Mehmood"
data['father_name']= "yaseen"
print(data['roll_no'])

KeyError: 'roll_no'

In [75]:
print("line1")
print("line2")

data["roll_no"]

print("line3")
print("line4")

line1
line2

KeyError: 'roll_no'

In [77]:
data={}
data['name']= "Muhammad Mehmood"
data['father_name']= "yaseen"

print(data.get("name"))
print(data.get("father_name"))
print(data.get("roll_no"))

Muhammad Mehmood
yaseen
None

In [78]:
data={}
data['name']= "Muhammad Mehmood"
data['father_name']= "yaseen"

print(data.get("name"))
print(data.get("father_name"))
print(data.get("roll_no", "Not Available"))

Muhammad Mehmood
yaseen
Not Available

In [81]:
print("line1")
print("line2")

print(data.get("roll_no"))

print("line3")
print("line4")

line1
line2
None
line3
line4

In [82]:
print("line1")
print("line2")

print(data.get("roll_no", "Not Available"))

print("line3")
print("line4")

line1
line2
Not Available
line3
line4

In [83]:
dict.fromkeys(['Name','Father_name','Id','Cnic'])

{'Name': None, 'Father_name': None, 'Id': None, 'Cnic': None}

In [84]:
200 * 14 * 60 * 24

4032000

In [85]:
data

{'name': 'Muhammad Mehmood', 'father_name': 'yaseen'}

In [86]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc"
}
data.keys()

dict_keys(['name', 'Father_name', 'cnic', 'roll_no', 'signature'])

In [87]:
data.values()

dict_values(['Muhammad mehmood', 'Haji Yaseen', '42201-40617655-5', 11, 'abc'])

In [88]:
data.items()

dict_items([('name', 'Muhammad mehmood'), ('Father_name', 'Haji Yaseen'), ('cnic', '42201-40617655-5'), ('roll_no', 11), ('signature', 'abc')])

In [90]:
a,b = ('aa','bb') # unpack/unzip
print(a)
print(b)

aa
bb

In [91]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc"
}
for k in data.keys():
    print(k)

name
Father_name
cnic
roll_no
signature

In [93]:
data ={
    "name": "Muhammad mehmood",
    "Father_name": "Haji Yaseen",
    "cnic": "42201-40617655-5",
    "roll_no": 11,
    "signature": "abc"
}
for k in data.keys():
    print(k,"-->",data[k])

name --> Muhammad mehmood
Father_name --> Haji Yaseen
cnic --> 42201-40617655-5
roll_no --> 11
signature --> abc

In [94]:
for k,v in data.items():
    print(k,v)

name Muhammad mehmood
Father_name Haji Yaseen
cnic 42201-40617655-5
roll_no 11
signature abc

In [95]:
data.items()

dict_items([('name', 'Muhammad mehmood'), ('Father_name', 'Haji Yaseen'), ('cnic', '42201-40617655-5'), ('roll_no', 11), ('signature', 'abc')])

In [98]:
data={
    "a":3,
    "b":2,
    "c":1
}
data

{'a': 3, 'b': 2, 'c': 1}

In [100]:
for d in data:
    print(d)

a
b
c