# Function
* Pre-define/user-define
 ### sets of statments and expression are called function, decresed the repeation of code"

 
 * Return function
 * Non-Return function
 * defualt funtion
 * required arguments function
 * required/optional arguments function
 * lambda function
 * recursive function
 * generator function
 
* Function components
 * Function declaration/function signature
   * `def function_name(arg1_variable,arg2_variable,...): `
 * function body
 * function call
   * ` function_name(arg1_value,arg2_value,..) `
   * ` function_name() `

In [1]:
print("we love our country")
print("my country name is Pakistan")
print("Pakistan Zinda Bad")

we love our country
my country name is Pakistan
Pakistan Zinda Bad

In [12]:
print("we love our country")
print("my country name is Pakistan")
print("Pakistan Zinda Bad")

we love our country
my country name is Pakistan
Pakistan Zinda Bad

# Default Function
* not required any argument when it will call

In [13]:
def country_message():
    print("we love our country")
    print("my country name is Pakistan")
    print("Pakistan Zinda Bad")

In [14]:
country_message()
country_message()
country_message()

we love our country
my country name is Pakistan
Pakistan Zinda Bad
we love our country
my country name is Pakistan
Pakistan Zinda Bad
we love our country
my country name is Pakistan
Pakistan Zinda Bad

In [15]:
def country_message():
    print("we love our country")
    print("my country name is America")
    print("America Zinda Bad")
    
country_message()
country_message()

we love our country
my country name is America
America Zinda Bad
we love our country
my country name is America
America Zinda Bad

# Create required parameter function

In [16]:
def any_country(country_name):
    print("we love our country")
    print(f"My country name is {country_name}")
    print(f"{country_name} zinda bad")

In [17]:
any_country("Pakistan")

we love our country
My country name is Pakistan
Pakistan zinda bad

In [18]:
any_country("China")

we love our country
My country name is China
China zinda bad

In [19]:
any_country("USA")

we love our country
My country name is USA
USA zinda bad

# Return and Non-return Function

### Non-Return Function

In [20]:
def any_country(country_name):
    print("we love our country")
    print(f"My country name is {country_name}")
    print(f"{country_name} zinda bad")
    
a = any_country("Pakistan")
print("variable of a = ", a)

we love our country
My country name is Pakistan
Pakistan zinda bad
variable of a =  None

# Return Function

In [24]:
def any_country(country_name):
    result= f"""
    we love our country
    My country name is {country_name}
    {country_name} zinda bad
    """
    return result

a = any_country("Pakistan")
b = any_country("Japan")
c = any_country("USA")
d = any_country("India")

In [25]:
print(a)
print(b)
print(c)
print(d)

    we love our country
    My country name is Pakistan
    Pakistan zinda bad


    we love our country
    My country name is Japan
    Japan zinda bad


    we love our country
    My country name is USA
    USA zinda bad


    we love our country
    My country name is India
    India zinda bad

In [26]:
a = any_country("Pakistan")
b = any_country("Japan")
c = any_country("USA")
d = any_country("India")
any_country("Oman")

'\n    we love our country\n    My country name is Oman\n    Oman zinda bad\n    '

In [27]:
print(any_country("Pakistan"))

    we love our country
    My country name is Pakistan
    Pakistan zinda bad

In [29]:
print(len(any_country("Pakistan")))

84

In [32]:
def student_card(roll_no, name, timing, batch):
    card = f"""Saylani Student Card
Student ID:\t {roll_no}
Student Name: \t {name}
Class Timing: \t {timing}
Batch: \t\t {batch}
"""
    return card
print(student_card(120109, "Muhammad Mehmood", "2pm to 6pm", "AIDS-4"))

Saylani Student Card
Student ID:	 120109
Student Name: 	 Muhammad Mehmood
Class Timing: 	 2pm to 6pm
Batch: 		 AIDS-4

In [35]:
data = [[120109, "Muhammad Mehmood", "2pm to 6pm", "AIDS-4"],
       [12010, "Muhammad Qasim", "12pm to 3pm", "Blockchain"],
       [12109, "Muhammad Ali", "4pm to 7pm", "Web-development"]]

In [36]:
for row in data:
    print(student_card(row[0], row[1], row[2], row[3]))

Saylani Student Card
Student ID:	 120109
Student Name: 	 Muhammad Mehmood
Class Timing: 	 2pm to 6pm
Batch: 		 AIDS-4

Saylani Student Card
Student ID:	 12010
Student Name: 	 Muhammad Qasim
Class Timing: 	 12pm to 3pm
Batch: 		 Blockchain

Saylani Student Card
Student ID:	 12109
Student Name: 	 Muhammad Ali
Class Timing: 	 4pm to 7pm
Batch: 		 Web-development

In [37]:
for row in data:
    print(student_card(*row))

Saylani Student Card
Student ID:	 120109
Student Name: 	 Muhammad Mehmood
Class Timing: 	 2pm to 6pm
Batch: 		 AIDS-4

Saylani Student Card
Student ID:	 12010
Student Name: 	 Muhammad Qasim
Class Timing: 	 12pm to 3pm
Batch: 		 Blockchain

Saylani Student Card
Student ID:	 12109
Student Name: 	 Muhammad Ali
Class Timing: 	 4pm to 7pm
Batch: 		 Web-development

# Optional parameter/defual parameters value function
* define argument value in function declaring time
* ` def add_two_numbers(num1=0, num2=0): `

In [38]:
def add_two_numbers(num1, num2):
    return num1 + num2

In [39]:
add_two_numbers(7,5)

12

In [40]:
add_two_numbers(7)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [41]:
add_two_numbers(,5)

SyntaxError: invalid syntax (32318092.py, line 1)

In [42]:
add_two_numbers()

TypeError: add_two_numbers() missing 2 required positional arguments: 'num1' and 'num2'

def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers())
print(add_two_numbers(9))
print(add_two_numbers(9,9))

# pass postional parameters/argument during calling

In [44]:
def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers())
print(add_two_numbers(81))
print(add_two_numbers(729,81))

0
81
810

# key/word parameters/argument during calling

In [45]:
def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers(num1=9, num2=72))
print(add_two_numbers(num2=42, num1=39))
print(add_two_numbers(num2=81))
print(add_two_numbers(num1=18))

81
81
81
18

In [46]:
add_two_numbers(7,8,9)

TypeError: add_two_numbers() takes from 0 to 2 positional arguments but 3 were given

In [47]:
add_two_numbers(8,9)

17

# Create unlimited positional arguments for calling
* add ***** before any parameter during decrlaring time
* `def my_sum(num1,*value): `

In [49]:
def my_sum(num1,num2):
    print(num1,num2)
    return num1 + num2

my_sum(7,9)

7 9

16

In [50]:
def my_sum(num1, *value):
    print(num1, value)
    print(type(num1), type(value))
    
my_sum(7,9)

7 (9,)
<class 'int'> <class 'tuple'>

In [52]:
def my_sum(num1,*value):
    print(num1,value)
    print(type(num1), type(value))
    result = num1
    for n in value:
        result += n
    return result
   

my_sum(7,9,1,3,5)

7 (9, 1, 3, 5)
<class 'int'> <class 'tuple'>

25

In [53]:
def my_sum(num1, *value):
    print(num1, value)
    print(type(num1), type(value))
    result = num1
    for n in value:
        result += n
    return result
my_sum(7,8,9,10,11)

7 (8, 9, 10, 11)
<class 'int'> <class 'tuple'>

45

# Create unlimited key/word arguments for calling
* add ** before any parameter during decrlaring time
* ` def my_sum(num1,**value): `

In [54]:
def abc(**values):
    print(values)
    print(type(values))
    
abc(num1=7, tea= 2, milk= "1 Kg")

{'num1': 7, 'tea': 2, 'milk': '1 Kg'}
<class 'dict'>

# Create function with required argument, optional, ulimited positional, ulimited key/word argument

In [67]:
def my_custom_function(num1, num2=7, *value1, **dict1):
    print("required positional argument num1 = ", num1, type(num1))
    print("Positional defual parameter value argument num2 = ", num2, type(num2))
    print("postional ulimited arguments value1 = ", value1, type(value1))
    print("key/word ulimited arguments dict1 = ", dict1, type(dict1))
my_custom_function(200)

required positional argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  7 <class 'int'>
postional ulimited arguments value1 =  () <class 'tuple'>
key/word ulimited arguments dict1 =  {} <class 'dict'>

In [68]:
my_custom_function(200,100,'a','b','c', tea=7,milk='1kg')

required positional argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  100 <class 'int'>
postional ulimited arguments value1 =  ('a', 'b', 'c') <class 'tuple'>
key/word ulimited arguments dict1 =  {'tea': 7, 'milk': '1kg'} <class 'dict'>

In [69]:
my_custom_function(200,0,'a','b','c', tea=7,milk='1kg')

required positional argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  0 <class 'int'>
postional ulimited arguments value1 =  ('a', 'b', 'c') <class 'tuple'>
key/word ulimited arguments dict1 =  {'tea': 7, 'milk': '1kg'} <class 'dict'>

In [73]:
def student_card(roll_no, name, *skills):
    print("Student Roll no: ", roll_no)
    print("Student Name: ", name)
    print("Skills:")
    for s in skills:
        print("\t\t",s)
student_card(120109, "Muhammad Mehmood", "python", "Javascript","Html","CSS")

Student Roll no:  120109
Student Name:  Muhammad Mehmood
Skills:
		 python
		 Javascript
		 Html
		 CSS

In [74]:
student_card(12009, "Muhammad Umar", "C#", "Javascript","Html","CSS")

Student Roll no:  12009
Student Name:  Muhammad Umar
Skills:
		 C#
		 Javascript
		 Html
		 CSS

In [76]:
def add_two_num(num1:int, num2:int) -> int:
    return num1 + num2
add_two_num(9,9)

18

In [77]:
add_two_num('7', '7')

'77'

In [78]:
def add_two_num(num1:int, num2:int):
    return num1 + num2

In [79]:
a = lambda num1, num2: num1 + num2
a(7,9)

16

In [91]:
l = [[1,'a','z'],
    [2,'b','y'],
    [3,'c',"X"]]
l

[[1, 'a', 'z'], [2, 'b', 'y'], [3, 'c', 'X']]

In [92]:
sorted(l, key=lambda x:x[2])

[[3, 'c', 'X'], [2, 'b', 'y'], [1, 'a', 'z']]

# Generator Function
* A Python generator function allows you to declare a function that behaves like an iterator, providing a faster and easier way to create iterators. They can be used on an abstract container of data to turn it into an iterable object like lists, dictionaries and strings.

In [97]:
def my_range(start,end):
    for i in range(start,end+1):
        yield i
a= my_range(1,10)
print(a)

<generator object my_range at 0x000001935D37EDD0>

In [99]:
a=my_range(1,10)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6
7
8
9
10

In [100]:
a = my_range(1,10)

In [101]:
print(next(a))

1

In [103]:
a = my_range(1,10)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
my_dict= [{'apple': 2, 'banana': 4, 'orange': 1, 'kiwi': 3},
          {'melon': 5, 'peach': 6, 'mango' : 7,'blueberry':8}]

my_dict

[{'apple': 2, 'banana': 4, 'orange': 1, 'kiwi': 3},
 {'melon': 5, 'peach': 6, 'mango': 7, 'blueberry': 8}]

In [118]:
sorted(my_dict, key= lambda x:x[0])

KeyError: 0

In [115]:
sorted(my_dict, key= lambda x:x[1])

KeyError: 1

In [111]:
my_dict = {'apple': 2, 'banana': 4, 'orange': 1, 'kiwi': 3}
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict)

{'orange': 1, 'apple': 2, 'kiwi': 3, 'banana': 4}