# Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [2]:
# opand operator operation
print( 2 + 2 ) # 4 addition operation
print(2 + 7)

4
9

In [3]:
num1 = 7
num2 = 3

print(num1 + num2)

10

In [5]:
num1 = "1"
num2= "1"
print(num1 + num2) # concatenate

11

In [7]:
num1 = "1"
num2= 2
print(f"num1:{type(num1)} num2: {type(num2)}")
print(num1 + num2)

num1:<class 'str'> num2: <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [9]:
list1= ['a','b','c']
list2= [1,2,3]
print(f"num1:{type(list1)} num2: {type(list2)}")
print(list1 + list2)

num1:<class 'list'> num2: <class 'list'>
['a', 'b', 'c', 1, 2, 3]

# Python divides the operators in the following groups:

 * Arithmetic operators
 * Assignment operators
 * Comparison operators
 * Logical operators
 * Identity operators
 * Membership operators
 * Bitwise operators

In [13]:
x= """Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y	
"""
print(x)

Operator	Name	Example	Try it
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

In [10]:
x= 10
y= 2
print(x+y)

12

In [11]:
x= 10
y= 2
print(x-y)

8

In [12]:
x= 10
y= 2
print(x/y)

5.0

In [15]:
x= 11
y= 3
print(x%y)

2

In [16]:
x= 2
y= 2
print(x**y)
print(2**3)

4
8

In [17]:
print(5/2)
print(5//2)
print(24/13)
print(24//13)

2.5
2
1.8461538461538463
1

# Python Assignment Operators
   Assignment operators are used to assign values to variables:

In [18]:
a=5
print(a)
print(a)

5
5

In [20]:
a=5
print(a)
a= a+ 1
print(a)
a+=1
print(a)

5
6
7

In [21]:
a= 1
print(a)
a=3
print(a)
a=5
print(a)
a=7
print(a)

1
3
5
7

In [23]:
a= 10
print(a)
a-=1
print(a)
a= a-1
print(a)

10
9
8

In [24]:
a=10
print(a)
a**=2
print(a)

10
100

In [25]:
3 & 3

3

In [26]:
x=5
x &=3
print(x)

1

In [27]:
x=65
x= x & 66
print(x)

64

# Python Comparison Operators
Comparison operators are used to compare two values:

In [28]:
a= 5
b=5
print(a==b)

True

In [29]:
a= 5
b=7
print(a==b)

False

In [30]:
a= 5
b=8
print(a>b)

False

In [31]:
a= 5
b=5
print(a<=b)

True

In [32]:
a= 3
b=5
print(a<=b)

True

In [33]:
a= 9
b=5
print(a<=b)

False

In [35]:
a=5
b=5
print(a!=b)

False

In [36]:
a= "qasim"
b= "qasim"
print(a==b)

True

In [37]:
a= "qasim"
b= "qasim"
print(a>b)

False

In [38]:
chr(65)

'A'

In [39]:
ord('7')

55

In [40]:
ord('m')

109

In [41]:
ord('M')

77

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [43]:
print(True and True and True and True)
print(True and True and False and True)
print(False and True and True and False)
print(False and False and False and True)
print(False and False and False and False)

True
False
False
False
False

In [44]:
print(True or True or True or True)
print(True or True or False or True)
print(False or True or True or False)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
True
False

In [45]:
not True

False

In [46]:
not False

True

In [48]:
password= input("enter your password")
print(password=='abc')
print( not password=='abc')
print(not True)
print(not False)
print(password)

enter your passwordMehmood
False
True
False
True
Mehmood

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

# Shallow Copy

In [50]:
a= 5
b=5
c=5
print(id(a), id(b), id(c))
print(a)
print(b)
print(c)

2193042336176 2193042336176 2193042336176
5
5
5

In [51]:
a=5
b='5'
print(id(a), id(b))

2193042336176 2193048114800

# Deep Copy

In [53]:
saylani= ["Mehmood"]
student= saylani.copy()
print(saylani, student)
print(id(saylani), id(student))
print(saylani==student)
print(saylani is student)

['Mehmood'] ['Mehmood']
2193125822208 2193125801024
True
False

In [54]:
saylani= ["Mehmood"]
student= saylani.copy()


print(saylani, student)
print(id(saylani), id(student))
print(saylani==student)
print(saylani is not student)

['Mehmood'] ['Mehmood']
2193125844352 2193126683712
True
True

# Python Membership Operators
* Membership operators are used to test if a sequence is presented in an object:

In [55]:
message = "pakistan zinda bad we love our country!"

print('zinda' in message)
print('Zinda' in message)
print("Qasim" in message)

True
False
False

In [56]:
names = ['Qasim','Hamza','Junaid',"Yasir"]

print('Hamza' in names)
print("Asif" in names)

True
False

In [57]:
names = ['Qasim','Hamza','Junaid',"Yasir"]
'Qasim' not in names

False