# Text Formating/formation/concatenation

In [1]:
first name = "Muhammad Mehmood"

SyntaxError: invalid syntax (3763877357.py, line 1)

# Rules for Python variables:
   * A variable name must start with a letter or the underscore character.
   * A variable name cannot start with a number.
   * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
   * Variable names are case-sensitive (age, Age and AGE are three different variables)

In [2]:
student_name = "Muhammad Mehmood"
print(student_name)

Muhammad Mehmood

In [3]:
a = len("Muhaamd mehmood") # return function
print(a)

15

In [4]:
a = print("Muhammad Mehmood")
print(a)
print(a)
print(a)

Muhammad Mehmood
None
None
None

In [5]:
a = print("""
Saylani Mass IT Program
Batch-4 AI and DS
class days: tue and fri
""")
print(a)
print(a)
print(a)

Saylani Mass IT Program
Batch-4 AI and DS
class days: tue and fri

None
None
None

# concatination
* **+**
* varaiable_name.format(var1, var2, var3)
* '

In [11]:
first_name = "Muhammad Mehmood"
last_name= "yaseen"
institute_name= "Saylani Mass IT Training"
age= 35

card = " Insitute Name: " + institute_name + "\nStudent Full Name:" + first_name + "\nStudent Last Name:" + last_name
print(card)

 Insitute Name: Saylani Mass IT Training
Student Full Name:Muhammad Mehmood
Student Last Name:yaseen

In [13]:
first_name = "Muhammad Mehmood"
last_name= "yaseen"
institute_name= "Saylani Mass IT Training"
age= 35

card = """Institute Name: saylani mass it training {}
student full name: {} {}
age: {}
""".format(institute_name, first_name, last_name,age)
print(card)

Institute Name: saylani mass it training Saylani Mass IT Training
student full name: Muhammad Mehmood yaseen
age: 35

# with f '

In [16]:
first_name = "Muhammad Mehmood"
last_name= "yaseen"
institute_name= "Saylani Mass IT Training"
age= 35

card = f"""Institute Name: {institute_name}
student full name: {first_name} {last_name}
age: {age}
"""
print(card)

Institute Name: Saylani Mass IT Training
student full name: Muhammad Mehmood yaseen
age: 35

In [18]:
card = """Institute Name: %s
student full name: %s %s
age: %d
""" % (institute_name, first_name, last_name,age)
print(card)

Institute Name: Saylani Mass IT Training
student full name: Muhammad Mehmood yaseen
age: 35

In [19]:
print(card)

Institute Name: Saylani Mass IT Training
student full name: Muhammad Mehmood yaseen
age: 35

In [21]:
i for i in dir(card) if "_" not in i

SyntaxError: invalid syntax (4063154226.py, line 1)

In [22]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: muhammad mehmood yaseen
age: 35

In [23]:
print(card.casefold()) # inline

institute name: saylani mass it training
student full name: muhammad mehmood yaseen
age: 35

In [24]:
card.count('a')

10

In [26]:
print(card)
card.count('Mehmood')

Institute Name: Saylani Mass IT Training
student full name: Muhammad Mehmood yaseen
age: 35

1