# Text formating/formation/concatination

In [1]:
first name "Muhammad"

SyntaxError: invalid syntax (254255428.py, line 1)

In [2]:
0name = "qasim"

SyntaxError: invalid syntax (2778844188.py, line 1)

In [3]:
student^name ="qasim"

SyntaxError: cannot assign to operator (4190806953.py, line 1)

In [5]:
age=30
print(age)

30

In [7]:
print(Age)

NameError: name 'Age' is not defined

# Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [8]:
student_name= "Muhammad Mehmood"
print(student_name)

Muhammad Mehmood

In [9]:
a = len("Muhammad Mehmood")
print(a)
print(a)
print(a)

16
16
16

In [10]:
a= print("Muhammad Mehmood")
print(a)
print(a)
print(a)

Muhammad Mehmood
None
None
None

In [11]:
a= print("""
Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri
""")
print(a)
print(a)
print(a)

Saylani Mass IT program
Batch-4 AI and DS
Class days: Tue and Fri

None
None
None

# Concatination
* +
* variable_name.format(var1,var2,var3)
* f' Student name: {var1}  '

In [12]:
first_name="Muhammad Mehmood"
last_name="Yaseen"
institute_name="Saylani Mass IT program"

card= "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name
print(card)

Institute Name: Saylani Mass IT program
Student Full Name: Muhammad Mehmood Yaseen

In [13]:
first_name="Muhammad Mehmood"
last_name="Yaseen"
institute_name="Saylani Mass IT program"
age= 35

card= "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name+ " " + last_name+age

TypeError: can only concatenate str (not "int") to str

In [14]:
age = 35
print(age, type(age))

# type casting
age= str(age)
print(age, type(age))

35 <class 'int'>
35 <class 'str'>

In [17]:
first_name="Muahammad Mehmood"
last_name="Yaseen"
institute_name="Saylani Mass IT Training"
age=35

card="Institute Name: " + institute_name + "\nStudent Full Name " + first_name + " " + last_name + "\nAge: " + str(age)

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name Muahammad Mehmood Yaseen
Age: 35

In [18]:
first_name="Muahammad Mehmood"
last_name="Yaseen"
institute_name="Saylani Mass IT Training"
age=35

card= """Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Mehmood Yaseen
Age: 45
"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Mehmood Yaseen
Age: 45

In [20]:
first_name="Muahammad Mehmood"
last_name="Yaseen"
institute_name="Saylani Mass IT Training"
age=35
 
card= """Institute Name: {}
Student Full Name: {}{}
Age: {}
""".format(institute_name,first_name,last_name,age)
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muahammad MehmoodYaseen
Age: 35

# With F'

In [21]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30

card= f"""Institute Name: {institute_name}
Student Full Name: {first_name}{last_name}
Age: {age}
"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: MuhammadQasim
Age: 30

In [23]:
first_name = "Muhammad"
last_name = "Qasim"
institute_name = "Saylani Mass IT Training"
age = 30

card= """Institute Name: %s
Student Full Name: %s %s
Age: %s
""" % (institute_name, first_name, last_name, age)
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [24]:
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [25]:
for idx, i in enumerate([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [26]:
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

In [27]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: muhammad qasim
age: 30

In [29]:
print(card.casefold())

institute name: saylani mass it training
student full name: muhammad qasim
age: 30

In [31]:
print(card)
card.count("Qasim")

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

1

In [34]:
print(card)
card.casefold().count('qasim')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

1

In [36]:
txt= "My name is Ståle"
x=txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [37]:
print(card)
card.count('qasim')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Qasim
Age: 30

0

In [38]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'